# .env

# ==========================================
# CONFIGURACIÓN DEL SISTEMA
# ==========================================
PROJECT_NAME="Quantix API"
VERSION="1.0.0"

# ==========================================
# BASE DE DATOS (POSTGRESQL OLTP)
# ==========================================
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=quantix_user
POSTGRES_PASSWORD=quantix_password
POSTGRES_DB=quantix_db

# ==========================================
# SEGURIDAD (JWT)
# ==========================================
# ¡CÁMBIAME EN PRODUCCIÓN! Generar una fuerte: openssl rand -hex 32
SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=720

# ==========================================
# NOTIFICACIONES (SMTP EMAIL)
# ==========================================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mi_correo@gmail.com
# Contraseña de aplicación generada (No la contraseña normal del correo)
SMTP_PASSWORD=qpcp vwew idgk hizb
